<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Practice\Blog\Api\Data\BlogInterface" type="Practice\Blog\Model\Blog" />
    <preference for="Practice\Blog\Api\BlogRepositoryInterface" type="Practice\Blog\Model\ResourceModel\BlogRepository" />

    <preference for="Practice\Blog\Api\Data\BlogSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />

    <preference for="Practice\Blog\Api\Data\BlogNotificationInterface" type="Practice\Blog\Model\BlogNotification" />
    <preference for="Practice\Blog\Api\BlogNotificationRepositoryInterface" type="Practice\Blog\Model\ResourceModel\BlogNotificationRepository" />



    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="custom_section" xsi:type="string">Practice\Blog\CustomerData\CustomSection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="practice_blog_comment_data_source" xsi:type="string">Practice\Blog\Model\ResourceModel\Comment\Grid\Collection</item>
                <item name="practice_blog_post_data_source" xsi:type="string">Practice\Blog\Model\ResourceModel\Blog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Practice\Blog\Model\ResourceModel\Comment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">comment_entity</argument>
            <argument name="resourceModel" xsi:type="string">Practice\Blog\Model\ResourceModel\Comment</argument>
        </arguments>
    </virtualType>

    <virtualType name="Practice\Blog\Model\ResourceModel\Blog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">blog_entity</argument>
            <argument name="resourceModel" xsi:type="string">Practice\Blog\Model\ResourceModel\Blog</argument>
        </arguments>
    </virtualType>

</config>
